<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Appoinment</title>

</head>
<body>
<form>
<div style="max-width: 400px;">
</div>
<h3 style="padding-bottom: 18px;font-size : 24px;">Book a Appoinment</h3>
<h4 style="padding-bottom: 18px;font-size : 18px;">Book a call slot our reperesentstive will call you with in 1hr of selected time !</h4>
<div style="padding-bottom: 18px;">Name<span style="color: red;"> *</span><br/>
<input type="text" id="data_3" name="data_3" style="max-width : 400px;" class="form-control"/>
</div>
<div style="padding-bottom: 18px;">Phone<br/>
<input type="phone" id="data_4" name="data_4" style="max-width : 400px;" class="form-control"/>
</div>
<div style="padding-bottom: 18px;">Email<br/>
<input type="text" id="data_5" name="data_5" style="max-width : 400px;" class="form-control"/>
</div>


<label for="input1">Date</label>
<input id="input1" name="input1" type="date" class="lab1">
<label for="input2">time</label>
<input id="input2" name="input2" type="time" class="lab2">


<button class="button button1">GET A CALL</button>
</form>

</body>
</html> 