@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding:0;
}


html{
    background-color: cadetblue;
}

body{
    font-family: 'Roboto', 'sans-serif';
    height: 500px;
    width:1000px;
    background-color: antiquewhite;
    margin:0 auto;
    padding-block: 25px;

 }
 h3{
    font-size: 10px;
    color:tomato;
    padding: 10px;
    border-bottom:1px solid #afafaf;
    text-align: center;
 }
 h4{
    font-size: 10px;
    color:tomato;
    padding: 10px;
    border-bottom:1px solid #afafaf;
    text-align: center;
 }

 .form-control{
    width: 50%;
    border-bottom: 2px solid#0c0c0c;
    margin-top: 20px;
    padding: auto;
    text-align: center;
 }
 button{
    color: green;
    width: 100%;
    padding: 5px;
 }

 
     